@keyframes rotateBoat {
    0% {
        transform: rotate(0deg);
      }
      25% {
        transform:  rotate(10deg);
      }
      50% {
        transform: rotate(0deg);
      }
      75% {
        transform:  rotate(-10deg);
      }
      100% {
        transform: rotate(0deg);
      }
}

.boat-container {
  position: relative;
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
}
.animate-sailboat {
    animation: sailboat 2s infinite;
  }
.boat-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.boat-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: rotateBoat 5s linear infinite;
}

.scrolling-text-container {
  overflow-y: auto;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  max-height: 80vh;
}

.scrolling-text {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  transition: transform 0.1s linear;
  white-space: normal;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.9);
}

.head-span {
  font-size: 1.2rem;
  color: #57C1DA;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.9);
}

@media (min-width: 768px) {
  .scrolling-text-container {
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    max-height: none;
  }

  .scrolling-text {
    font-size: 1.2rem;
    white-space: nowrap;
  }

  .head-span {
    font-size: 1.4rem;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8), 0 1px 3px rgba(0, 0, 0, 0.9);
  }
}
.slider-container {
  height: 300px !important;
}

.slider-container .slick-list,
.slider-container .slick-track {
  height: 100%;
}

.slider-container .slick-slide > div {
  height: 100%;
}

.slider-container .slick-prev,
.slider-container .slick-next {
  z-index: 1;
}

.slider-container .slick-prev {
  left: 10px;
}

.slider-container .slick-next {
  right: 10px;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #101827;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #abe0ec;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4add8;
}